@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

body {
-webkit-font-smoothing: antialiased;
@apply bg-blue-bg;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.animate-fade-in {
    animation: fade-in 4s;
}


}